# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# ChromaDB
chromadb/

# Uploaded PDFs
data/pdfs/

# Logs
*.log

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/